<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Things</title>
</head>
<body>

<section id="app">
    SPLOOSH!
</section>

<script src="{%=o.htmlWebpackPlugin.files.chunks['vendor'].entry%}"></script>
<script src="{%=o.htmlWebpackPlugin.files.chunks['app'].entry%}"></script>

</body>
</html>